body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: none;
}

.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: inline-block;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
    display: inline-block;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .nav-link.current,
  .contacts-link:focus {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;

    gap: 12px;
  }

  .contacts-link {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px #2e2f42;
  padding: 0;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

/* .mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  align-items: center;
  gap: 40px;
} */

.mobile-menu-nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-item:first-child .mobile-menu-nav-link {
  color: #404bbf;
}

.mobile-menu-contacts {
  font-style: normal;
  display: block;
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contacts-item:first-child .mobile-menu-contacts-link {
  color: #4d5ae5;
}

.mobile-menu-social {
  /* margin-top: auto; */
  margin-top: 48px;
}

.mobile-menu-social-item {
  display: flex;
  /* justify-content: center; */
  gap: 40px;
  padding: 0;
  margin: 0;
}

.mobile-menu-link {
  /* width: 100%;
  height: 100%; */
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.mobile-menu-logo {
  width: 24px;
  height: 24px;
  display: block;
  fill: #f4f4fd;
}

.mobile-menu-social-item-list {
  /* display: inline-flex; */

  /* width: calc((100% - 3 * 40px) / 4); */
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* @media screen and (min-width: 1158px) {
  display: none;
} */

/*banner*/
.banner {
  max-width: 320px;
  height: 432px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark1xmob.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  max-width: 216px;
}

.banner-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banner-button:focus,
.banner-button:hover {
  background-color: #404bbf;
}

@media (min-resolution: 192dpi) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark2xmob.jpg);
  }
}

/* tablet */
@media (min-width: 768px) {
  .container {
  }

  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark1xtablet.jpg);
    max-width: 768px;
    padding: 112px 0;
    height: 436px;
  }

  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media (min-width: 768px) and (min-resolution: 192dpi) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark2xtablet.jpg);
  }
}

/* desktop */
@media (min-width: 1158px) {
  .container {
  }

  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark1xdesktop.jpg);
    max-width: 1440px;
    padding: 188px 0;
    height: 600px;
  }

  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
  }

  .banner-button:focus,
  .banner-button:hover {
    background-color: #404bbf;
  }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark2xdesktop.jpg);
  }
}

/*section*/
.advantage {
  padding: 96px 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.section-item {
  width: 100%;
}

.section-item-icon {
  display: none;
}

.section-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

@media (min-width: 768px) {
  .section {
    /* display: flex;
    flex-wrap: nowrap; */
    gap: 74px 24px;
  }

  .section-item {
    width: calc((100% - 24px) / 2);
  }
}
.section-item-icon {
  display: none;
}

@media (min-width: 1158px) {
  .advantage {
    padding: 120px 0;
  }

  .section {
    display: flex;
    gap: 24px;
  }

  .section-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .section-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .section-item-icon-svg {
    /* max-width: 264px; */
    fill: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .section-item-title {
    font-weight: 500;
    font-size: 20px;
  }
}

/*team*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-img {
  background-color: #fff;
  display: block;
  max-width: 100%;
  height: auto;
}

.cards {
  padding: 32px 0px;
}

.team-item-name {
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-item-text {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

.team-cards-social {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-cards-social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-cards-social-list-link:hover,
.team-cards-social-list-link:focus {
  background-color: #404bbf;
}

.team-cards-social-list {
  width: calc((100% - 3 * 24px) / 4);
  width: 40px;
  height: 40px;
}

.team-cards-social-list-logo {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
  display: block;
}

@media (min-width: 768px) {
  .team-list {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    background-color: #ffffff;
    width: 264px;
  }

  .team-cards-social {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .team-cards-social-list {
    width: calc((100% - 3 * 24px) / 4);
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* portfolio */
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item {
  display: block;
  max-width: 100%;
  height: auto;
}

.cards-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 0;
}

@media (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
}
.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* 
 footer */

.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* flex-direction: column; */
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
}

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.page-footer-item {
  max-width: 264px;
  margin-right: 0;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  text-align: left;
}

.page-footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  /* text-align: center; */
}

.page-footer-item-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.page-footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-item-list-social-logo {
  width: 24px;
  height: 24px;
  display: block;
  fill: #f4f4fd;
}

.page-footer-item-list-social-list {
  display: inline-flex;
  width: calc((100% - 3 * 16px) / 4);
  width: 40px;
  height: 40px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-subscribe {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  /* max-width: 288px;
  gap: 16px; */
}

.page-footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.page-footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* gap: 24px; */
  /* justify-content: center; */
}

.page-footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  letter-spacing: 0.04em;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* text-align: center; */
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;

  cursor: pointer;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-form-btn-send {
  margin-left: 16px;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

@media (min-width: 768px) {
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .page-footer-item {
    text-align: left;
  }

  .page-footer-form {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
}
.page-footer-subscribe {
  text-align: left;
}

@media (min-width: 1158px) {
  .wrap {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
  }

  .page-footer-item {
    max-width: 264px;
    margin-right: 0;
    text-align: left;
    margin-right: 120px;
  }

  .page-footer-subscribe {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 453px;
    gap: 16px;
  }

  .page-footer-link:hover,
  .page-footer-link:focus {
    background-color: #31d0aa;
  }

  .page-footer-form-input:focus::placeholder {
    color: #fff;
  }
}
.page-footer-form-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-item-list-social-list {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-form-input {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1, 5);
}

.backdrop-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.backdrop-field {
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.backdrop-comment {
  margin-bottom: 16px;
}

.backdrop-field-wrap {
  position: relative;
}

.backdrop-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-checkbox {
  margin-bottom: 24px;
}

.input-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}



input:checked+label .checkmark {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}



.privacy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkmark {
  display: inline-flex; 
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 4px;
}

.checkmark-wrap {
  
}


.policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}


.form-icon-checkbox {
}

.input-checkbox + label .privacy input:checked + label .policy-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}




/* tablet */
@media (min-width: 768px) {
.modal {
  padding:  72px 24px 24px 24px;
    width: 408px;
}
}

@media (min-width: 1158px) {

.backdrop-btn:hover,
.backdrop-btn:focus {
  background-color: #404bbf;
  border: none; 
}

.backdrop-btn:hover .backdrop-btn-close,
.backdrop-btn:focus .backdrop-btn-close {
  fill: #ffffff;
}

.field-input:hover,
.field-input:focus {
  outline: none;
  border-color: #4D5AE5;;
}

.field-input:hover + .field-icons,
.field-input:focus-within + .field-icons {
  fill: #4d5ae5;
}

.comment:hover,
.comment:focus {
  border-color: #4d5ae5;
  outline: none;
}
.backdrop-button:focus,
.backdrop-button:hover {
  background-color: #404bbf;
}
}